<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class=" login-card card">
                <div class="card-header text-center">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
<form #logform="ngForm" (ngSubmit)="logSubmit(logform)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input 
                 type="email" 
                 class="form-control" 
                 id="exampleInputEmail1" 
                 aria-describedby="emailHelp"
                 ngModel
                 name="email"
                 required>
                 <small id="emailHelp" 
                 class="text-danger"
                 *ngIf="logform.controls['email'] &&
                  logform.controls['email'].touched && 
                 logform.controls['email'].invalid">
                 please enter email

                 </small>
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input 
         type="password" 
         class="form-control" 
         id="exampleInputPassword1"
         ngModel
         name="password"
         required>
         <small id="emailHelp" 
         class="text-danger"
         *ngIf="logform.controls['password'] &&
          logform.controls['password'].touched && 
         logform.controls['password'].invalid">
         please enter password

         </small>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    </div>
</div>
</div>
    </div>
</div>
