<div class="box">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <img src="" alt="">
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="info">
        <ul class="list-unstyled">
          <li><strong>Title:</strong></li>
          <li><strong>category:</strong></li>
          <li><strong>Description:</strong></li>
          <li><strong>Rate:</strong></li>
          <li><strong>count:</strong></li>
          <li><strong>Price:</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
